*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  /* font-family: "Comfortaa", cursive; */
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262c27;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/*--- HEADER ---*/

.header {
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  background: url('../images/header-decor.svg');
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(35%);
  z-index: 2;
}

.header::after {
  content: "";
  position: absolute;
  background: url('../images/header-decor.svg');
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(75%) rotate(180deg);
  z-index: 3;
}

.header__top {
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  display: flex;
  align-items: center;
  padding: 57px 0;
  gap: 100px;
  justify-content: flex-end;
}

.header__logo path {
  transition: fill 0.3s ease;
}

.header__logo path:hover {
  fill: #0093a1;
}

/* Fix vertical aligment */
.header__btn {
  text-transform: uppercase;
  color: #fff;
  padding: 12px 71px;
  background-color: #262c27;
  border: none;
  cursor: pointer;
}

.header__content {
  min-height: calc(100vh - 161px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.header__content-primary {
  color: #fff;
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  max-width: 550px;
  margin-right: 30px;
}

.header__title {
  text-transform: uppercase;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 20px;
}

.header__text {
font-size: 24px

;}

.header__text:not(:last-child) {
  margin-bottom: 20px;
}

.header__decor-text {
  position: absolute;
  color: #0093A1;
  bottom: 0;
  z-index: 4;
}

.decor-one,
.decor-two {
  font-family: Comfortaa, cursive;
  font-weight: 400;
  font-size: 130px;
  line-height: 145px;
  opacity: 0.3;
}

.decor-one {
  z-index: 1;
  right: 145px;
  bottom: 95px;;
}

.decor-two {
  left: 275px;

}

.decor-three {
  font-family: Inter, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  max-width: 360px;
  text-align: center;
  right: 145px;
}


